<h1>タスク 作成</h1>

<%=  form_with model: @task, local:truet do |f|%>
 <p>タイトル <%= f.text_field :title %></p>
 <p>内容 <%= f.text_field :content %></p>
  <%=  f.submit "送信"%>
  <%= link_to "一覧画面へ", users_path %>
<% end%>
